<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.2" targetFramework="net471" />
  <package id="Extended.Wpf.Toolkit" version="4.1.0" targetFramework="net48" />
  <package id="Fody" version="3.3.5" targetFramework="net471" developmentDependency="true" />
  <package id="WPFLocalizeExtension" version="3.9.0" targetFramework="net48" />
  <package id="XAMLMarkupExtensions" version="2.1.1" targetFramework="net48" />
</packages>